# Server configuration
APP_SERVER_IP=
GIT_REPO_URL=git@github.com:yourusername/your-repo.git
GIT_BRANCH=main
DOMAIN_NAME=staging.example.com
GITHUB_DEPLOY_KEY=

# AWS Configuration
AWS_REGION=us-east-2
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_PUBLIC_URL=

# Redis
REDIS_HOST=localhost

# API Keys
NOTEBOOKLM_API_KEY=
SORA_API_KEY=
HEYGEN_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
CHATBOT_PROVIDER=openai
